{% set options = twentyeleven_get_theme_options() %}

{% if options.theme_layout != 'content' %}
<div id="secondary" class="widget-area" role="complementary">
    {% if not sidebar_is_populated('sidebar-1') %}

    <aside id="archives" class="widget">
    <h3 class="widget-title">{{ __( 'Archives', 'twentyeleven' ) }}</h3>
    <ul>
        {{ wp_get_archives( {'type': 'monthly'} ) }}
    </ul>
    </aside>

    <aside id="meta" class="widget">
    <h3 class="widget-title">{{ __( 'Meta', 'twentyeleven' ) }}</h3>
    <ul>
        {{ wp_register() }}
        <li>{{ wp_loginout() }}</li>
        {{ wp_meta() }}
    </ul>
    </aside>

    {% endif %}
</div><!-- #secondary .widget-area -->
{% endif %}
