{% extends 'base.html' %}

{% block content %}
<div id="primary">
    <div id="content" role="main">

    {% if posts %}

        {% set nav_id = 'nav-above' %}
        {% include '_pagination.html' %}

        {% for post in posts %}
            {# TODO: insert hidden 'the_post' magic here #}
            {{ post.post_title }}

            {% if post.post_format %}
                {% include '_content-' ~ post.post_format ~ '.html' %}
            {% else %}
                {% include '_content.html' %}
            {% endif %}
        {% endfor %}

        {% set nav_id = 'nav-below' %}
        {% include '_pagination.html' %}

    {% else %}
        <article id="post-0" class="post no-results not-found">
        <header class="entry-header">
        <h1 class="entry-title">{{ __( 'Nothing Found', 'twentyeleven' ) }}</h1>
        </header><!-- .entry-header -->

        <div class="entry-content">
            <p>{{ __( 'Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.', 'twentyeleven' ) }}</p>
            {% include '_searchform.html' %}
        </div><!-- .entry-content -->
        </article><!-- #post-0 -->

    {% endif %}

    </div><!-- #content -->
</div><!-- #primary -->

{% include '_sidebar.html' %}
{% endblock %}
