{% extends 'base.html' %}

{% block content %}
<div id="primary">
    <div id="content" role="main">
	{% set nav_id = 'nav-above' %}
	{# If we have posts, show 'em. #}
    {% if posts %}

        {% include '_pagination.html' %}

        {# Our river of content. #}
        {% for post in posts %}
            {% if post.post_format %}
                {% include '_content-' ~ post.post_format ~ '.html' %}
            {% else %}
                {% include '_content.html' %}
            {% endif %}
        {% endfor %}

        {% set nav_id = 'nav-below' %}
        {% include '_pagination.html' %}
    {# If we don't have posts, we're sorry. #}
    {% else %}
        <article id="post-0" class="post no-results not-found">
            <header class="entry-header">
        	    <h1 class="entry-title">Nothing Found</h1>
            </header><!-- .entry-header -->

        	<div class="entry-content">
            	<p>Apologies, but no results were found for the requested archive.</p>
        	</div><!-- .entry-content -->
        </article><!-- #post-0 -->

    {% endif %}

    </div><!-- #content -->
</div><!-- #primary -->

{% include '_sidebar.html' %}
{% endblock %}