{% extends 'base.html' %}

{% block title %}{{ post.post_title }} | {{ get_bloginfo('name')|raw }}{% endblock title %}
{% block page_id %}{{ page_id }}{% endblock page_id %}

{% block content %}

<div id="primary">
    <div id="content" role="main">
		<article id="post-{{ post.id }}" class="{% for class in post.post_class %}{{ class }} {% endfor %}">
		    <header class="entry-header">
		        <h1 class="entry-title">{{ post.post_title|raw }}</h1>
		    </header><!-- .entry-header -->

		    <div class="entry-content">
		        {{ wpautop(post.post_content)|raw }}
		    </div><!-- .entry-content -->

		    <footer class="entry-meta">
		        {% if get_edit_post_link(post.id, '') %}
		            <span class="edit-link"><a href="{{ get_edit_post_link(post.id, '') }}">Edit</a></span>
		        {% endif %}
		    </footer><!-- .entry-meta -->
		</article><!-- #post-{{ post.id }} -->
    </div><!-- #content -->
</div><!-- #primary -->

{% endblock %}